<ion-content class="register-bg" fullscreen>
  <div class="auth-header">
    <div class="auth-title">Welcome Back</div>
  </div>

  <div class="register-card">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="register-form">
      <div class="input-row">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input 
          formControlName="emailOrUserName" 
          placeholder="Username or Email"
          autocomplete="username email"
          required>
        </ion-input>
      </div>
      <div class="input-row">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input 
          formControlName="password" 
          type="password"
          placeholder="Password"
          autocomplete="current-password"
          required>
        </ion-input>
      </div>

      <div class="login-options-row">
        <div class="checkbox-container">
          <ion-checkbox formControlName="rememberMe" slot="start"></ion-checkbox>
          <span class="remember-me-label">Remember me</span>
        </div>
        <a class="forgot-link" href="#">Forgot Password?</a>
      </div>

      <ion-button
        expand= "block"
        type="submit"
        class="register-btn"
        [disabled]="loginForm.invalid || loading">
        LOGIN
      </ion-button>

      <ion-text color="danger" *ngIf="errorMsg">{{ errorMsg }}</ion-text>
      <div class="register-footer">
        Don't have an account? <a routerLink="/register"><b>Click here to Register</b></a>
      </div>
    </form>
  </div>
</ion-content>
