<ion-content class="home-bg" fullscreen>
  <div class="home-header">
    <div class="avatar">
      <img src="assets/avatar.png" alt="Avatar" />
    </div>
    <div>
      <div class="subtitle">Welcome back,</div>
      <div class="header-username">{{ user?.userName || 'User' }}</div>
      <div class="header-tagline">Ready to make a difference today?</div>
    </div>
      <ion-icon name="notifications-outline" class="notif-icon" (click)="goToNotifications()"></ion-icon>
  </div>

  <div class="featured-missions-title">Featured Missions</div>
  <div class="featured-missions-scroll">
    <div class="mission-card" *ngFor="let mission of featuredMissions" [ngClass]="{'open': mission.status === 'OPEN'}">
      <div class="mission-type">{{ mission.type }}</div>
      <div class="mission-details">{{ mission.venue }}</div>
      <div class="mission-datetime">{{ mission.date }} | {{ mission.time }}</div>
      <div class="mission-status">Status: {{ mission.status }}</div>
      <div class="mission-details">{{ mission.distance }}</div>
      <ion-button size="small" *ngIf="mission.status === 'OPEN'">Join</ion-button>
    </div>
  </div>


  <ion-grid class="quick-actions-cards">
  <ion-row>
    <ion-col size="4">
      <div class="action-card" (click)="goToJoinMission()">
        <img src="assets/icons/join-mission.png" alt="Join Mission" />
        <div class="label">JOIN<br>MISSION</div>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="action-card" (click)="goToDonate()">
        <img src="assets/icons/donate.png" alt="Donate" />
        <div class="label">DONATE</div>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="action-card" (click)="goToLeaderboard()">
        <img src="assets/icons/leaderboard.png" alt="Leaderboard" />
        <div class="label">LEADERBOARD</div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>


  <div class="ongoing-title">Ongoing Missions near you</div>
  <div class="map-container">
    <img src="assets/icons/map-placeholder.png" alt="Map" class="map-img" />
    <!-- You can replace this with an actual map component -->
  </div>