<ion-content class="register-bg" fullscreen>
  <div class="auth-header">
    <div class="auth-title">Create New Account</div>
  </div>

  <div class="register-card">
    <form [formGroup]="regForm" (ngSubmit)="onRegister()" class="register-form">
      <div class="input-row">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input
          formControlName="userName"
          placeholder="Username"
          autocomplete="username"
          required
        ></ion-input>
      </div>
      <div class="input-row">
        <ion-icon name="id-card-outline"></ion-icon>
        <ion-input
          formControlName="displayName"
          placeholder="Full Name"
          autocomplete="name"
          required
        ></ion-input>
      </div>
      <div class="input-row">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input
          formControlName="email"
          type="email"
          placeholder="Email Address"
          autocomplete="email"
          required></ion-input>
      </div>

      <div class="input-row">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input
          formControlName="password"
          type="password"
          placeholder="Password"
          autocomplete="new-password"
          required></ion-input>
      </div>
      <div class="input-row">
        <ion-icon name="checkmark-done-outline"></ion-icon>
        <ion-input
          formControlName="confirmPassword"
          type="password"
          placeholder="Confirm Password"
          autocomplete="new-password"
          required></ion-input>
      </div>

      <ion-button
        expand="block"
        type="submit"
        class="register-btn"
        [disabled]="regForm.invalid || loading">Sign Up</ion-button>

      <ion-text color="danger" *ngIf="errorMsg">{{ errorMsg }}</ion-text>
      <div class="register-footer">
        Already have an account? <a routerLink="/login"><b>Sign in</b></a>
      </div>
    </form>
  </div>
</ion-content>
